[submodule "frontend-fitXchange"]
	path = frontend-fitXchange
	url = https://github.com/Cybarose/frontend-fitXchange
[submodule "backend-fitXchange"]
	path = backend-fitXchange
	url = https://github.com/gogamid/backend-fitXchange
