@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
   font-family: blanka;
   src: url(fonts/Blanka-Regular.otf);
}

@font-face {
   font-family: poppins;
   src: url(fonts/Poppins-Medium.ttf);
}

.backLimeGreen {
	background: #4AA041;
	background: -webkit-linear-gradient(left, #4AA041, #256954);
	background: -moz-linear-gradient(left, #4AA041, #256954);
	background: linear-gradient(to right, #4AA041, #256954);
}

.backPrussianBlue {
	background-color: #003265;
}
.backGlacous {
	background-color: #5d7d9c;
}

.backOrchid {
	background-color: #ba5cd4;
}

.backCultured {
	background-color: #eff1ed;
}

.textLimeGreen {
	color: #65cc33;
}

.textPrussianBlue {
	color: #003265;
}
.textGlacous {
	color: #5d7d9c;
}

.textOrchid {
	color: #ba5cd4;
}

.textCultured {
	color: #eff1ed;
}

.textWhite {
	color: #fff;
}

.textBlack {
	color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Open Sans', sans-serif;
}

h1{
	font-family: blanka, 'Open Sans', sans-serif;
	
	text-shadow: 0 13.36px 8.896px #003265, 0 -2px 1px #fff;
}

h2 {
 padding: 40px;
 font-size: 2.1em;
 color: #003265;
 font-family: poppins, 'Open Sans', sans-serif;
}

h3 {
 padding: 20px;
 font-size: 2.1em;
 color: #003265;
 font-family: blanka, 'Open Sans', sans-serif;
}

body{
    display: flex;
    padding: 30px 0px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #eff1ed; 
	z-index: 1000;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
	border:3px solid;
    border-radius: 15px;
	border-color: #eff1ed;
	font-family: poppins, 'Open Sans', sans-serif;
	font-size: 1.2em;
}
header ul li a:hover{
	border:3px solid;
    border-color: #65cc33;
}

header ul li .active {
	color: #5d7d9c;
}


.imghome {
	background-image: url(images/banner/about.jpeg);
} 

.imgsecurity {
	background-image: url(images/banner/security.jpeg);
} 

.imgabout {
	background-image: url(images/banner/about.jpeg);
} 

.imgtechnik {
	background-image: url(images/banner/technik.jpeg);
} 

#video_background {
	position: absolute;
	top: 90px;
	right: 0px;
	max-width: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-image: url(./pattern.png);
	position: fixed;
	opacity: 0.5;
	left: 0px;
	top: 90px;
	width: 100%;
	height: 100%;
	z-index: -1;
}


.content {
	width: 100%;
	 
	background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 0px;
	
	position: absolute;
}

.content1 {
	position: absolute;
	top: 95px;
}

.text{
    max-width: 1100px;
    color: black;
	padding: 0px 20px;
	margin: 0 auto;
	}


.text p {
	font-size: 1.4em;
	padding: 20px 0px;

}


.text-box{
    color: black;
    text-align: center;
    padding-top: 200px;
}
.text-box h1{
    font-size: 62px;
	margin-top: 240px;
	color: #eff1ed;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}

.first2{
    text-align: center;
    padding-top: 220px;
}

.first1{
    text-align: center;
    padding-top: 720px;
}

.row, .row2, .row3, .row4{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    border-radius: 10px;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
	text-align: center;
}

.backGlacous .course-col {
	background: #FFF;
}

.profile {
border-radius: 1000px !important;
}


.dsgvo, .technical, .orga, .future, .economy{
    text-align: center;
}

.row2 .course-col{
    flex-basis: 40%;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}


.app-shots{
    color: black;
    text-align: center;
    padding-top: 50px;
}
.app1{
    width: 300px;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.app1:hover{
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.2);
}







.download {
  width: 260px;
  height: 125px;
  background: white;
display: inherit;
  border-radius: 5px;
  position: relative;
  color: #003265;
  cursor: pointer;
  border: 3px solid #003265;
  margin: 12px;
}

.download > .fa {
  color: #003265;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  left: 105px;
}

.df {
  top: 20px;
  font-size: .98em;
}

.dfn {
  top: 50px;
  font-size: 1.48em;
}

.download:hover {
 border:3px solid;
    border-color: #429545;
	
	
}


